name: Pipeline templates CI (manual + branch push)

on:
  push:
    branches:
      - feat/17-add-ci-to-test-commands-and-templates

jobs:
  run-cli-template-ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        type: [ processing ]
        template:
          - pre_annotation
          - dataset_version_creation

    env:
      ORGANIZATION: test-account
      ENVIRONMENT: STAGING

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install uv
        run: pip install uv

      - name: Sync project dependencies
        run: uv sync

      - name: Install cv engine for CLI
        run: uv add "picsellia-cv-engine==0.5.0"

      - name: Login to Docker Hub as picsellia
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
            -u "${{ secrets.DOCKERHUB_USERNAME }}" \
            --password-stdin

      - name: Run CLI template CI for one template
        env:
          PXL_API_TOKEN: ${{ secrets.PXL_API_TOKEN_STAGING }}
          BUMP: ${{ env.BUMP }}
        run: |
          PICSELLIA_CONFIG_DIR="$RUNNER_TEMP/picsellia_cfg"
          mkdir -p "$PICSELLIA_CONFIG_DIR"

          echo "TYPE=${{ matrix.type }}"
          echo "TEMPLATE=${{ matrix.template }}"
          echo "BUMP=$BUMP"
          echo "PICSELLIA_CONFIG_DIR=$PICSELLIA_CONFIG_DIR"

          uv run bash tests/script.sh \
            --type "${{ matrix.type }}" \
            --template "${{ matrix.template }}" \
            --organization "$ORGANIZATION" \
            --env "$ENVIRONMENT" \
            --bump "final" \
            --config-dir "$PICSELLIA_CONFIG_DIR"
