name: Pipeline templates CI (manual + branch push)

on:
  workflow_dispatch:
    inputs:
      type:
        description: "Template type (processing|training)"
        required: true
        default: "processing"
      template:
        description: "Template name (all | template dir name)"
        required: true
        default: "pre_annotation"
      bump:
        description: "Version bump (patch|minor|major|rc|final)"
        required: true
        default: "final"

  push:
    branches:
      - feat/17-add-ci-to-test-commands-and-templates

jobs:
  run-cli-template-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install uv
        run: pip install uv

      - name: Sync project dependencies
        run: uv sync

      - name: Install picsellia-pipelines-cli
        run: uv pip install picsellia-pipelines-cli

      - name: Run CLI template CI
        env:
          PXL_API_TOKEN: ${{ secrets.PXL_API_TOKEN_STAGING }}
        run:
          bash tests/script.sh \
            --type "${{ github.event.inputs.type }}" \
            --template "${{ github.event.inputs.template }}" \
            --organization "test-account" \
            --env "STAGING" \
            --bump "${{ github.event.inputs.bump }}" \
            --config-dir "$PICSELLIA_CONFIG_DIR"
